@import url(./global.scss);

.item-scroll {
    margin: 17px;
}

.block {
    margin: 0 17px;
    padding: 17px 0;
    display: block;
    background-color: #fff;
}

.switch-text {
    vertical-align: 2px;
}

.radio-item {
    padding: 15px 0;
    margin: 0 15px;
}

.checkbox-item {
    padding: 15px 0;
    margin: 0 15px;
    display: block;
}

.input {
    height: 51px;
    margin: 0;
}

.plh {
    line-height: 18px;
    color: #CCC;
    font-family: PingFangSC-Regular;
}

.slider {
    margin: 3px;
}

.ipt {
    height: 51px;
    margin: 0 17px;
}
