.init-switch {
    margin: 14px 0 14px 17px;
    vertical-align: middle;
}

.init-switch-after {
    margin: 14px 0 14px 50px;
    vertical-align: middle;
}

.switch-text {
    vertical-align: middle;
}
