.taro-picker-view {
    width: 100%;

    &_title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin: 0 21px;
        color: #000;
        font-size: 15px;
        line-height: 42px;
        vertical-align: middle;
        text-align: center;
    }

    &_wrapper {
        position: relative;
        display: flex;
        overflow: hidden;
    }

    &_column {
        flex: 1;
        position: relative;
        height: 100%;
        user-select: none;
        touch-action: none;

        &-wheel {
            height: 300px;
            width: 100%;
            cursor: grab;

            &::before {
                content: ' ';
                display: block;
                position: absolute;
                width: 100%;
                height: 100vh;
                top: -100vh;
            }

            &::after {
                content: ' ';
                display: block;
                position: absolute;
                width: 100%;
                height: 100vh;
                bottom: -100vh;
            }
        }

        &-item {
            height: 34px;
            overflow: hidden;
        }
    }
}
