.taro-picker-view {
    width: 100%;

    &_title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin: 0 21px;
        color: #000;
        font-size: 15px;
        line-height: 42px;
        vertical-align: middle;
        text-align: center;
    }

    &_wrapper {
        position: relative;
        display: flex;
        overflow: hidden;
    }

    &_column {
        flex: 1;
        position: relative;
        height: 300px;
        user-select: none;
        touch-action: none;

        &-wheel {
            position: absolute;
            top: calc(50% - 34px / 2);
            left: 0;
            width: 100%;
            cursor: grab;
        }

        &-item {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            height: 34px;
        }
    }

    &-mask {
        position: absolute;
        z-index: 10000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        pointer-events: none;

        &-top,
        &-bottom {
            flex: auto;
        }

        &-middle {
            height: 34px;
            box-sizing: border-box;
            flex: none;
            border-top: solid 1px #eee;
            border-bottom: solid 1px #eee;
        }

        &-top {
            background: #fff;
            mask: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.6) 0%,
                rgba(0, 0, 0, 0.8) 50%,
                rgba(0, 0, 0, 1) 100%
            );
        }

        &-bottom {
            background: #fff;
            mask: linear-gradient(
                180deg,
                rgba(0, 0, 0, 0.6) 0%,
                rgba(0, 0, 0, 0.8) 50%,
                rgba(0, 0, 0, 1) 100%
            );
        }
    }
}
