.taro-img {
    overflow: hidden;
    display: inline-block;
    width: 300px;
    height: 225px;
}

.taro-img > div {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.taro-img__scale-to-fill {
    background-size: 100% 100%;
    background-position: 0% 0%;
}

.taro-img__aspect-fit {
    background-size: contain;
    background-position: center center;
}

.taro-img__aspect-fill {
    background-size: cover;
    background-position: center center;
}

.taro-img__width-fix {
    background-size: 100% 100%;
    background-position: 0% 0%;
}

.taro-img__height-fix {
    background-size: 100% 100%;
    background-position: 0% 0%;
}

.taro-img__top {
    background-position: top center;
}

.taro-img__bottom {
    background-position: bottom center;
}

.taro-img__center {
    background-position: center center;
}
.taro-img__left {
    background-position: center left;
}

.taro-img__right {
    background-position: center right;
}

.taro-img__top-left {
    background-position: top left;
}

.taro-img__top-right {
    background-position: top right;
}

.taro-img__bottom-left {
    background-position: bottom left;
}

.taro-img__bottom-right {
    background-position: bottom right;
}
