.taro-img {
    overflow: hidden;
    display: inline-block;
    width: 300px;
    height: 225px;

    &__content {
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__scale-to-fill {
        background-size: 100% 100%;
        background-position: 0% 0%;
    }
    
    &__aspect-fit {
        background-size: contain;
        background-position: center center;
    }
    
    &__aspect-fill {
        background-size: cover;
        background-position: center center;
    }
    
    &__width-fix {
        background-size: 100% 100%;
        background-position: 0% 0%;
    }
    
    &__height-fix {
        background-size: 100% 100%;
        background-position: 0% 0%;
    }
    
    &__top {
        background-position: top center;
    }
    
    &__bottom {
        background-position: bottom center;
    }
    
    &__center {
        background-position: center center;
    }

    &__left {
        background-position: center left;
    }
    
    &__right {
        background-position: center right;
    }
    
    &__top-left {
        background-position: top left;
    }
    
    &__top-right {
        background-position: top right;
    }
    
    &__bottom-left {
        background-position: bottom left;
    }
    
    &__bottom-right {
        background-position: bottom right;
    }
}
