.hover {
    opacity: .2;
    background-color: #888;
}

.Favor,
.noFavor:after {
    position: static;
    content: none;
}

.Favor {
    border: 1px solid #e6e6e6;
    border-radius: 119.565rpx;
    background-image: url(https://b.bdstatic.com/searchbox/icms/searchbox/img/demo_followed.png);
    background-size: 43.48rpx 43.48rpx;
    background-repeat: no-repeat;
    background-position: 33% 50%;
}

.noFavor {
    background-color: #3388ff;
    color: #fff;
    background-image: url(https://b.bdstatic.com/searchbox/icms/searchbox/img/demo_follow.png);
    background-size: 43.48rpx 43.48rpx;
    background-repeat: no-repeat;
    background-position: 35% 50%;
    border: 1px solid #e6e6e6;
    border-radius: 119.565rpx;
}
