.wrap {
    margin-top: 20px;
}
.image-area {
    width: 100%;
    height: 155px;
}

.bottom-description {
    height: auto;
    margin: 17px;
}

.back-ground {
    background-color: #e6e6e6;
}

.image-custom {
    width: 100%;
    margin-bottom: -4px;
}
