.taro-toast {
    position: fixed;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    height: 120px;
    padding: 10px 17px;
    border-radius: 12px;
    background: rgba(0, 0, 0, .8);
    transform: translate(-50%, -50%);
    z-index: 10001;

    &_none {
        width: fit-content;
        height: fit-content;
    }

    &_icon {
        margin: 26px 0 14px;
    }

    &_content {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-height: 24px;
        width: max-content;
        max-width: 230px;
        font-size: 16px;
        text-align: center;
        word-wrap: break-word;
        text-overflow: ellipsis;
        color: #fff;
    }
}
