@import './base.scss';

.collike {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2px;

    .item {
        height: 107px;
        width: 250px;
        line-height: 107px;
        flex: 1;
        text-align: center;
        font-size: 16px;
        color: #fff;
    }
}
