body {
    font-size: 16px;
    margin: 8px;
    font-family: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    line-height: 1.5;
}

.paragraph {
    margin: 16px 0 16px;
}

.taro-nav {
    text-decoration: underline;
}
