.taro-mask {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1000;

    &_button {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: #000;

        &-transparent {
            background: transparent;
        }
    }

    &_content {
        height: 100%;
        width: 100%;
    }
}
